
* {
  margin:0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  /*background: #9D50BB; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left, #9D50BB , #6E48AA); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(left, #9D50BB , #6E48AA); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(left, #9D50BB , #6E48AA); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to left, #9D50BB , #6E48AA); /* Standard syntax */
  background: url(../images/bg.jpeg) 100%;
  background-position: center center;
  background-size: cover;

}

.menu {
  height: 10%;
  width: 100%;
}

.conteudo {
  height: 90%;
  width: 100%;
}

.flex {
  display: flex;
  justify-content:center;
  align-items:center;
  align-content:center;
}

.player {
  width: 500px;
  max-width: 90%;
  text-align: center;
  order:1;

}

.player button{
  font-size: 22px;
  background: #fff;
  color: #000;
  padding: 1% 5%;
  border:1px solid #fff;
  opacity: 0.5
}
.player button:hover,
.player button:focus {
  opacity: 1
}
